<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
<head>

  <meta charset="UTF-8">
  <title>Gerador de Horas</title>

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <!-- My JS App -->
  <script src="js/app.js"></script>
  <script src="js/hours.controller.js"></script>

</head>
<body>
  <div ng-controller="Hours as vm" class="container">

    <div class="row">
      <form class="form-horizontal" ng-submit="vm.generate()">

        <div class="col-md-2">
          <p class="text-center">
            <label for="startTime" class="control-label">Hora Início</label><br/>
            <input id="startTime" class="form-control" ng-model="vm.startTime" ng-pattern="/^\d{2}:\d{2}$/" required="required">
          </p>
        </div>

        <div class="col-md-2">
          <p class="text-center">
            <label for="endTime" class="control-label">Hora Fim</label><br/>
            <input id="endTime" class="form-control" ng-model="vm.endTime" ng-pattern="/^\d{2}:\d{2}$/" required="required">
          </p>
        </div>

        <div class="col-md-2">
          <p class="text-center">
            <label for="startLunchTime" class="control-label">Início Almoço</label><br/>
            <input id="startLunchTime" class="form-control" ng-model="vm.startLunchTime" ng-pattern="/^\d{2}:\d{2}$/" required="required">
          </p>
        </div>

        <div class="col-md-2">
          <p class="text-center">
            <label for="variation" class="control-label">Variação em minutos</label><br/>
            <input id="variation" class="form-control" type="number" min="0" max="60" ng-model="vm.variation" required="required">
          </p>
        </div>

        <div class="col-md-2">
          <p class="text-center">
            <label for="days" class="control-label">Dias</label><br/>
            <input id="days" type="number" min="1" class="form-control" ng-model="vm.days" required="required">
          </p>
        </div>

        <div class="col-md-2">
          <br>
          <button type="submit" class="btn btn-primary">Gerar</button>
        </div>

      </form>
    </div>

    <hr>

    <div class="row">
      <table class="table table-striped" ng-if="vm.workingHours.length > 0">
        <thead>
          <tr>
            <th>Hora Início</th>
            <th>Saída Almoço</th>
            <th>Volta Almoço</th>
            <th>Hora Fim</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="hour in vm.workingHours">
            <td>{{ hour.work.start }}</td>
            <td>{{ hour.lunch.start }}</td>
            <td>{{ hour.lunch.end }}</td>
            <td>{{ hour.work.end }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</body>
</html>
